* {
  margin: 0;
}

html {
  background-color: #bbbbbb;
}

.sidebar {
  background-color: #dfdfdf;
  width: 18vw;
  height: 230vh;
}

.m-item {
  background-color: #dfdfdf;
  list-style-type: none;
  color: black;
  font-family: 'Roboto';
  position: relative;
  right: 1vw;
  font-size: 2vw;
  text-decoration: none;
}

.sb-header {
  list-style-type: none;
  color: black;
  font-family: 'Roboto';
  position: relative;
  padding-left: 2vw;
  font-size: 7vw;
  margin-top: 1vh;
}

.logo {
  width: 15vw;
  padding-left: 1vw;
}

.small {
  font-size: 3vw;
}

.welcome {
  margin-left: 0.4vw;
}

.menu-header {
  list-style-type: none;
  color: black;
  font-family: 'Roboto';
  position: relative;
  padding-left: 2vw;
  font-size: 3vw;
  margin-top: 1vh;
}

.social {
  padding-left: 2.4vw;
}

.social-item {
  position: relative;
  right: 1.7vw;
  padding-top: 0.3vh;
}

.m-social {
  padding-bottom: 2vh;
  border-bottom: 1px solid black;
  width: 12.8vw;
  position: relative;
  left: 1vw;
}

.header {
  background-color: #7f7e7b;
  text-align: center;
  height: 22vh;
  padding-top: 2vh;
  font-family: 'Roboto';
  font-size: 3vw;
}

.main-sidebar {
  float: left;
}

.header-text {
  font-size: 3vw;

}

.tn {
  width: 39vw;
  margin-left: 4vw;
  margin-top: 7vh;
  background-color: white;
  padding: 2vw;
  border-radius: 4px;
  border: 2px solid black;
}

.tn-text {
  width: 20vw;
  position: relative;
  margin-left: 3.5vw;
  margin-top: 7vh;
  font-family: 'Roboto';
  background-color: white;
  float: left;
  padding: 4vw;
  border-radius: 4px;
  border: 2px solid black;
  height: 31.6vh;
}

.tn-text-bottom {
  width: 67.3vw;
  position: relative;
  margin-left: 3.5vw;
  margin-top: 6.5vh;
  font-family: 'Roboto';
  background-color: white;
  float: left;
  padding: 4vw;
  border-radius: 4px;
  border: 2px solid black;
  padding-bottom: 1vh;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .sidebar {
    font-size: 5vw;
    width: 100vw;
    float: auto;
    height: 30vh;
    margin-top: 10vh;
    padding-top: 1vh;
  }
  .m-item {
    font-size: 3vw;
    right: 7vw;
  }
  .video-updates {
    margin-top: 0vh;
  }
  .header-main {
    float: top;
    position: relative;
    bottom: 40vh;
    font-size: 10vw;
  }
  .header-text {
    margin-top: 60vh;
  }
  .logo {
    float: right;
    width: 45vw;
  }
  .sb-header {
    margin-bottom: -4.5vh;
    margin-left: 5vw;
  }
  .menu {
    font-size: 5vw;
    margin-left: 5vw;
  }
  .m-social {
    font-size: 5vw;
    width: 7vw;
  }
  .tn {
    float: auto;
    width: 85vw;
  }
  .tn-text {
    width: 81vw;
    float: bottom;
    height: 10vh;
  }
  .tn-text-bottom {
    width: 81vw;
    float: bottom;
  }
  .social {
    margin-bottom: -2vh;
  }
}

/*meep*/
